---
const { date, title, desc, url } = Astro.props;
---

<div class="list-container">
  <div class="date">{date}</div>
  <a  href={url} class="title">{title}</a>
  <div class="desc">{desc}</div>
</div>


<style lang="less">
  .list-container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 4px solid #f3f4f6;
    .date {
      font-size: 1em;
      color: #9ca3af;
    }
    .title {
      font-size: 1.6em;
      font-weight: 700;
      color: #1f2937;
      margin-bottom: 1em;
    }
  }
</style>
