---
const { platform, username,icon } = Astro.props;
---
<a target="_blank" href={`https://www.${platform}.com/${username}`}>
  <img src={icon} alt={platform} width="20" height="20" />
</a>
<style>
  a {
    text-decoration: none;
    transition: all .3s;
    :hover{
      transform: scale(1.1);
    }
  }
</style>